*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IBM Plex Sans;
}
body{
  width: 100%;
  height: 100vh;
  background-color: #FCFAF9;
}
header{
  display: flex;
  background-image: url(./img/background\ img.png);
  background-repeat: no-repeat;
  background-position-x: right;
  padding-left: 24px;
}
header img{
  padding-top: 40px;
  width: 146px;
}
.logo-text-div{
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.header-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 166px;
}
.header-text h1{
  color: #191826;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: -0.455px;
}
.header-text p{
  color: #191826;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
main{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
 
}
.main-rect{
  background-color: #191826;;
  border-radius: 12px;
  background-image: url(./img/rings.png);
  background-repeat: no-repeat;
  background-position-x: center ;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  z-index: 1;

}
.mobile-img{
  position: absolute;
  width: 208px;
  height: 430px;
  top: -18%;
  align-self: center;
}
.oring-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FA7453;
  padding-left: 36px;
  border-radius: 12px;
  padding-top: 48px;
  gap: 12px;
  padding-right: 37px;
  z-index: 2;
  margin-top: -220px;
  margin-bottom: 64px;
}
.oring-div h3{
  color: #FCFAF9;
  font-family: IBM Plex Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
}
.oring-div p{
  color: #FCFAF9;
  font-family: IBM Plex Sans;  
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  
}
#price{
  color: #FCFAF9;
  font-family: IBM Plex Sans;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 80% */
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
  margin-bottom: 32px;
}
#price span{
  color: #FCFAF9;
  font-family: IBM Plex Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: -0.2px;
  margin-top: 5px;
}
.apple-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: #191826;
  width: 296px;
  height: 61px;
  align-self: center;
  border: none;
  cursor: pointer;
}
.ios{
  color: #FCFAF9;
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.18px;
  padding-left: 8px;
}
.android{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: #FCFAF9;
  width: 296px;
  height: 61px;
  align-self: center;
  border: none;
  margin-bottom: 30px;
  cursor: pointer;
}
#android-download{
  color: #191826;
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.18px;
  padding-left: 8px;
}
footer{
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}
.footer-div{
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}
.footer-div img{
  width:  140px;
}
.footer-div h1{
  color: #191826;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.footer-div a{
  color: #191826;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;  
  font-weight: 700;  
  line-height: 26px;
}
.icon-div{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.facebook-icon{
  width: 20px;
  height: 30px;
  cursor: pointer;
}
.facebook-icon:hover{
  color: #FA7453;
  transition: 1s;
}
.header-ring{
  display: none;
}
.tablet-mobile{
  display: none;
}
.desktop-mobile{
  display: none;
}
.apple-btn:hover{
  background-color: #66E2DC;
  color: white;
  transition: 1.3s;
}
.android:hover{
  background-color: #FFB964;
  color: #191826;
  transition: 1.3s;
}
@media(width>739px){
  header{
    background-image: url(./img/header-ring.png),url(./img/oval-tablet.png);
    background-repeat: no-repeat no-repeat ;
    background-position-x: right left ;
  }
  .header-text h1{
    font-size: 60px;
    width: 520px;
  }
  .header-text p{
    width: 514px;
    font-size: 18px;
  }
  .tablet-mobile{
    display: block;
    position: absolute;
    width: 208px;
    height: 430px;
    top: -18%;
    left: 15%;
  }
  .mobile-img{
    display: none;
  }
  .oring-div{
    width: 399px;
    position: absolute;
    bottom: -27%;
    right: 13%;
  }
  .main-rect{
    background-image: url(./img/main\ ring\ for\ desktop.png);
    background-repeat: no-repeat;
    background-position-x:  center;
    background-position-y: 10%;
    
  }
  footer{
    margin-top: 190px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .footer-div h1{
    width: 366px;
    font-size: 16px;
  }
}
@media(width>1024px){
  header{
    padding-left: 165px;
    background-image: url(./img/oval\ desktop.png),url(./img/header\ ring\ desktop.png);
    background-repeat: no-repeat;
    background-position-x: left right;
  }
  .header-text h1{
    font-size: 88px;
    width: 1015px;
    line-height: 88px;
    margin-bottom: 40px;
  }

  .header-text p{
    font-size: 20px;
    width: 825px;
    line-height: 34px;
    margin-bottom: 117px;
  }
  .main-rect{
    width: 1410px;
    align-self: center;
  }
  .oring-div{
    width: 446px;
    right: 20%;
  }
  .tablet-mobile{
    display: none;
  }
  .desktop-mobile{
    display: block;
    position: absolute;
    left: 25%;
    top: -25%;
    width: 280px;
    height: 506px;
  }
  footer{
    padding-left: 165px;
    padding-right: 165px;
  }
  .footer-div{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 138px;
  }
  .icon-div{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}